<p>Hola <%= @user.fname %>,</p>
<p>He vist que t'acabes de donar d'alta a la nostra plataforma d'importocotxe.ad</p>
<br>
<p>Quin cotxe estàs buscant? Al nostre buscador pots trobar molts dels cotxes disponibles però no hi surten tots. Diga'm com l'estàs buscant i t'adjudo a trobar-lo.</p>
<p>Per dir-m'ho, només cal que em contestis aquest correu.</p>
<br>
<p>Gràcies, espero poder ajudar-te aviat,</p>
<p>Jordi</p>
<p>------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Hello <%= @user.fname %>,</p>
<p>I saw that you have just registered on our importocotxe.ad platform</p>
<br>
<p>Which car are you looking for? In our search engine you can find many of the available cars, but not all of them are available. Tell me how you're looking for it and I'll help you find it.</p>
<p>To tell me, just reply to this email.</p>
<br>
<p>Thank you, I hope I can help you soon,</p>
<p>Jordi</p>
<p>------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Hola <%= @user.fname %>,</p>
<p>He visto que te acabas de dar de alta en nuestra plataforma de importocoche.ad</p>
<br>
<p>¿Qué coche estás buscando? En nuestro buscador puedes encontrar muchos coches disponibles pero no salen todos. Dime cómo lo estás buscando y te ayudo a encontrarlo.</p>
<p>Para decírmelo, sólo hace falta que me contestes en este correo.</p>
<br>
<p>Gracias, espero poder ayudarte pronto,</p>
<p>Jordi</p>
<p>------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Bonjour <%= @user.fname %>,</p>
<p>J'ai vu que vous venez de vous inscrire sur notre plateforme importocotxe.ad</p>
<br>
<p>Quelle voiture recherchez-vous? Dans notre moteur de recherche, vous pouvez trouver de nombreuses voitures disponibles, mais elles ne sont pas toutes disponibles. Dites-moi comment vous le recherchez et je vous aiderai à le trouver.</p>
<p>Pour me le dire, répondez simplement à cet e-mail.</p>
<br>
<p>Merci, j'espère pouvoir vous aider bientôt,</p>
<p>Jordi</p>
