<div class="seocards seocontainer">

  <%= link_to aventador_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711812669/kuala-lumpurmalaysia-may-31-2022-600nw-2162381665.jpg_qbbpta.webp); height: 100%; width: 100%;">
      <span>Aventador</span>
    </div>
  <% end %>

  <%= link_to huracan_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711812669/lam-01-rk0955-01p_z1hwes.jpg); height: 100%; width: 100%;">
      <span>Huracán</span>
    </div>
  <% end %>

  <%= link_to urus_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711812668/foto-lamborghini-urus-es-lujo-alto-rendimiento-generado-ia_911060-13581.jpg_plrtmu.avif); height: 100%; width: 100%;">
      <span>Urus</span>
    </div>
  <% end %>

  <%= link_to countach_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711812668/countach_hp_1_fbn2fb.jpg); height: 100%; width: 100%;">
      <span>Countach</span>
    </div>
  <% end %>


</div>
