<div class="seocards seocontainer">


  <%= link_to cooper_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711807975/devon-janse-van-rensburg-i7ipLokGGGo-unsplash_egkonb.jpg); height: 100%; width: 100%;">
      <span>Cooper</span>
    </div>
  <% end %>

  <%= link_to countryman_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711807975/burak-sahin-cyLZiU5r4OQ-unsplash_qhhtpg.jpg); height: 100%; width: 100%;">
      <span>Countryman</span>
    </div>
  <% end %>

  <%= link_to aceman_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600525/Mini_Aceman_John_Cooper_Works_DSC_2680_kj2xmp.jpg); height: 100%; width: 100%;">
      <span>Aceman</span>
    </div>
  <% end %>

</div>
