<div id="dades-contacte">
  <div class="show-big-screen" style="margin-left: 15px;">
    <a href="tel:+376666488" style="color: black; text-decoration:none;">+376 666 488</a>
    |
    <a href="mailto:info@importocotxe.ad" style="color: black; text-decoration:none;">info@importocotxe.ad</a>
  </div>
  <div class="show-little-screen" style="margin-left: 15px;>
    <a href="tel:+376 666 488" style="color: black; text-decoration:none;"><i class="fa-solid fa-phone"></i></a>
    |
    <a href="mailto:info@importocotxe.ad" style="color: black; text-decoration:none;"><i class="fa-solid fa-envelope"></i></a>
  </div>
</div>
