<div id="dades-contacte">
  <div class="show-big-screen" style="margin-left: 15px;">
    <a href="tel:+34621339515" style="color: black; text-decoration:none;">+34 621 339 515</a>
    |
    <a href="mailto:info@importocoches.com" style="color: black; text-decoration:none;">info@importocoches.com</a>
  </div>
  <div class="show-little-screen" style="margin-left: 15px;>
    <a href="tel:+34621339515" style="color: black; text-decoration:none;"><i class="fa-solid fa-phone"></i></a>
    |
    <a href="mailto:info@importocoches.com" style="color: black; text-decoration:none;"><i class="fa-solid fa-envelope"></i></a>
  </div>
</div>
