<div>
  <%= link_to root_path, class: "brand-icon" do %>
    <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1668073646/Captura_de_pantalla_2022-11-10_a_las_10.46.10-removebg-preview_ry5s3a.png"%>
  <% end %>
</div>
