<h1><strong>&iquest;Com importar un cotxe a Andorra al 2023?</strong></h1>
<h1>&nbsp;</h1>
<h2><strong>Tant si t&rsquo;est&agrave;s plantejant importar un cotxe a Andorra com si simplement tens curiositat sobre com es fa, aquest blog &eacute;s per tu ja que et descric el proc&eacute;s d&rsquo;importaci&oacute; de cotxes a Andorra pas a pas.<span class="Apple-converted-space">&nbsp;</span></strong></h2>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://source.unsplash.com/un-coche-rojo-aparcado-frente-a-un-edificio-r_4_acnCI5U" alt="Imatge sobre com importar cotxe a andorra" width="300" /></p>
<p>Taula de continguts:</p>
<ol>
<li>1r pas: buscar el cotxe.</li>
<ol>
<li>condicionants legals.</li>
<li>IVA deduible.</li>
<li>tria el cotxe.</li>
<li>revisa el venedor.</li>
</ol>
<li>2n pas: comprar el cotxe.</li>
<ol>
<li>COC.</li>
<li>compra.</li>
<li>IVA.</li>
</ol>
<li>3r pas: transport del cotxe.</li>
<ol>
<li>transport propi.</li>
<li>transport cami&oacute;.</li>
</ol>
<li>4t pas: tr&agrave;mits a Andorra.</li>
<ol>
<li>frontera.</li>
<li>itv.</li>
<li>govern.</li>
<li>aca.</li>
</ol>
<li>5&egrave; pas: recuperaci&oacute; de l&rsquo;IVA.</li>
<li>Conclusi&oacute;.</li>
</ol>
<p>&nbsp;</p>
<h2><strong>1r Pas. Buscar el cotxe d&rsquo;importaci&oacute; fora d&rsquo;Andorra.</strong></h2>
<p>Abans d&rsquo;iniciar el procediment d&rsquo;importaci&oacute; a Andorra, &eacute;s important escollir b&eacute; el cotxe a comprar. I amb escollir b&eacute; el cotxe, no nom&eacute;s em refereixo a triar b&eacute; la marca, model i altres caracter&iacute;stiques. Cal tenir en compte 4 coses m&eacute;s alhora d&rsquo;escollir el cotxe ideal per importar a Andorra. S&oacute;n les seg&uuml;ents:<span class="Apple-converted-space">&nbsp;</span></p>
<ol>
<li><strong>Condicionants legals:</strong> volem importar el cotxe a Andorra i per tant hem de filtrar nom&eacute;s els cotxes que la normativa Andorrana ens permet. I qu&egrave; diu la normativa? Doncs ens permet matricular cotxes usats amb un valor inferior a la normativa Euro vigent i amb un m&agrave;xim de 6 anys d&rsquo;antiguitat. Al 2023, aquests s&oacute;n tots aquells homologats sota la normativa Euro5 o superior i amb data de fabricaci&oacute; m&iacute;nima del 2019. </li>
<li><strong>IVA deduible:</strong> al importar un cotxe a Andorra no et toca pagar l&rsquo;impost a les ventes del pa&iacute;s or&iacute;gen (VAT o IVA). &Eacute;s per aix&ograve;, que t&rsquo;interessa comprar cotxes que en or&iacute;gen encara mantinguin aquest impost, &eacute;s a dir, cotxes amb IVA deduible. Aix&ograve; et permetr&agrave; poder comprar el cotxe per un valor m&eacute;s baix del anunciat.</li>
<li><strong>Tria el cotxe:</strong> un cop ja saps els cotxes que si podr&agrave;s importar, ja pots buscar el cotxe que t&rsquo;interessa. Per fer-ho, haur&agrave;s de trobar les p&agrave;gines de cada pa&iacute;s. Aqui te n&rsquo;anoto algunes de les m&eacute;s utilitzades: <a href="http://cars.com">cars.com</a> per trobar cotxes d&rsquo;estats units, <a href="http://autoscout24.com">autoscout24.com</a> per trobar cotxes en general a tot europa, <a href="http://lacentrale.fr">lacentrale.fr</a> per trobar cotxes a Fran&ccedil;a, <a href="http://coches.net">coches.net</a> per trobar cotxes a Espanya i <a href="http://mobile.de">mobile.de</a> per trobar cotxes a Alemanya. Si vols un cotxe europeu, et recomano utilitzar <a href="http://mobile.de">mobile.de</a> ja que &eacute;s la web on hi ha la major quantitat de cotxes i a m&eacute;s coincideix en que &eacute;s el pa&iacute;s on els venedors estan m&eacute;s acostumats a vendre per exportar.</li>
<li><strong>Revisa el venedor:</strong> un cop has escollit el cotxe que t&rsquo;agrada, has d&rsquo;assegurar-te que no es tracta d&rsquo;una estafa abans d&rsquo;enviar els diners. Imagina&rsquo;t el problema que suposaria perdre&rsquo;ls. No et precipitis i fes una bona investigaci&oacute;. Observa qui &eacute;s el concessionari que anuncia el cotxe, busca la p&agrave;gina web del concessionari, truca i parla amb alg&uacute;, mira a google maps si a la localitzaci&oacute; anunciada hi ha aquest conscessionari i revisa les valoracions. Ves al pa&iacute;s or&iacute;gen en persona si cal a verificar que el cotxe existeixi i que tot sigui normal abans d&rsquo;enviar uns diners que pots perdre. Si vols, pots contactar-nos per tal que t&rsquo;ajudem en aquest proc&eacute;s de verificaci&oacute;. Portem molts anys important cotxes i &eacute;s possible que el concessionari on has trobat el cotxe ja el coneixem.</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><strong>2n pas. Comprar el cotxe d&rsquo;importaci&oacute; com a Andorr&agrave;.</strong></h2>
<p>Un cop ja has seleccionat el cotxe, has revisat el venedor i t&rsquo;has assegurat que no hi haur&agrave; cap impediment legal per importar-lo, ja pots procedir a la compra.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Abans d&rsquo;efectuar la compra, demana el venedor si t&eacute; el COC del cotxe. &Eacute;s el document em&egrave;s pel fabricant que recull totes les dades t&egrave;cniques del cotxes incloses en l&rsquo;homologaci&oacute; europea del cotxe. A Alemanya &eacute;s com&uacute; que el tinguin, sin&oacute;, haur&agrave;s de demanar-lo a un concessionari de la marca donant el n&uacute;mero de bastidor del cotxe.</p>
<p>Per la compra, haur&agrave;s de posar-te en contacte amb el venedor i enviar-li les teves dades com a resident Andorr&agrave; o les de la societat Andorrana. &Eacute;s important recordar-los que Andorra no forma part de la Uni&oacute; Europea i que per tant han de vendre el cotxe com a un b&eacute; d&rsquo;exportaci&oacute;. T&rsquo;enviaran un contracte de reserva amb les dades del cotxe, del concessionari i les dades de pagament. L&rsquo;haur&agrave;s de tornar signat i fer la transfer&egrave;ncia bancaria.&nbsp;</p>
<p>En cas que hagis comprat un cotxe amb IVA dedu&iuml;ble, el m&eacute;s normal &eacute;s que et facin pagar el preu del cotxe total (IVA incl&ograve;s), i que et tornin aquest IVA quan els envi&iuml;s la justificaci&oacute; d&rsquo;haver exportat el cotxe fora de la UE, i d&rsquo;haver-lo importat i matriculat a nom teu a Andorra.</p>
<p>Felicitats! El cotxe que buscaves ja es teu, ara queda portar-lo, fer la importaci&oacute; i matricular-lo.</p>
<p>&nbsp;</p>
<h2><strong>3r pas: Transportar el cotxe fins a Andorra.</strong></h2>
<p>Hi ha dues solucions per tal de transportar el cotxe a Andorra. Fer-ho un mateix circulant o fer-ho fer a alg&uacute;. Cada una t&eacute; els seus avantatges i inconvenients.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Fer-ho fer a una empresa que s&rsquo;hi dediqui &eacute;s convenient, segur i no fas quil&ograve;metres al cotxe. &Eacute;s convenient ja que t&rsquo;estalvies el temps que costa anar fins on est&agrave; el cotxe i tornar conduint. I &eacute;s segur perqu&egrave; els transports van assegurats. Els inconvenients de fer-ho fer alg&uacute; s&oacute;n que sol ser m&eacute;s lent i que, degut a que et descarregaran el cotxe a la frontera, necessitar&agrave;s d&rsquo;una grua o plaques temporals per tal de moure el cotxe per Andorra i poder anar de la frontera a la ITV.</p>
<p>Fer-ho per un mateix, per altre banda, t&eacute; l&rsquo;avantatge que et permet veure el cotxe abans de retirar-lo del concessionari. Aix&ograve; fa que el puguis revisar abans de retirar-lo i fer les reclamacions oportunes si alguna cosa no est&agrave; b&eacute;. Tot i aix&iacute;, caldr&agrave; que facis unes plaques d&rsquo;exportaci&oacute; del pa&iacute;s origen per tal de poder circular amb el cotxe fins a Andorra ja que el cotxe no tindr&agrave; plaques per circular perqu&egrave; l&rsquo;hauran donat de baixa. A Alemanya n&rsquo;hi ha de diferents durades i els concessionaris venedors solen donar el servei de preparar-les per tu. Les plaques d&rsquo;un mes solen tenir un cost de 300&euro; que ja inclou l&rsquo;asseguran&ccedil;a obligat&ograve;ria.</p>
<p>Si vols fer tots el procediment tu mateix per&ograve; vols que t&rsquo;ajudem amb el transport, posa&rsquo;t en contacte amb nosaltres i diga&rsquo;ns-ho.</p>
<p>&nbsp;</p>
<h2><strong>4t pas: Tr&agrave;mits d'importaci&oacute; a Andorra.</strong></h2>
<ol>
<li>
<h3><strong>Tr&agrave;mits a la frontera:</strong></h3>
</li>
</ol>
<p>Un cop ja has aconseguit portar el cotxe fins la frontera, toca fer-hi parada. Aqu&iacute; s&rsquo;hi ha de declarar la sortida comunit&agrave;ria del cotxe i la entrada a Andorra.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&Eacute;s molt important en aquest punt tenir clar si desde l&rsquo;or&iacute;gen han preparat quelcom relatiu a l&rsquo;exportaci&oacute; o no. &Eacute;s important perqu&egrave; en cas d&rsquo;error, no et tornaran l&rsquo;IVA d&rsquo;or&iacute;gen.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Si no han preparat res, cal primer anar als transitaris de sortida. All&agrave; els dones la documentaci&oacute; del cotxe aix&iacute; com la factura de venta per tal que puguin preparar un document que es diu DAE (Document d&rsquo;Acompanyament a l&rsquo;Exportaci&oacute;). Posteriorment, aquest model es presenta a la duana i ja queda feta la exportaci&oacute;.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Per fer la importaci&oacute;, caldr&agrave; anar al transitari Andorr&agrave; colaborador amb el transitari de sortida. Aquest ens cobrar&agrave; l&rsquo;IGI i prepar&agrave; el DUA. Posteriorment, portarem el DUA a la duana Andorrana per tal que ens donin dret a disposar el cotxe al pa&iacute;s i ens segellin el DUA i la factura de compra del cotxe.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Cal anar guardant tots els documents que ens lliuren ja que ser&agrave;n necess&agrave;ris.</p>
<p>&nbsp;</p>
<ol start="2">
<li>
<h3>Tr&agrave;mits a la ITV:</h3>
</li>
</ol>
<p>Arribats a la ITV i havent demanat cita pr&egrave;via, sol&middot;licitar&agrave;s passar una revisi&oacute; pr&egrave;via a la matriculaci&oacute; per importaci&oacute; del vehicle. Aqu&iacute; haur&agrave;s de lliurar els documennts del cotxe del pa&iacute;s d&rsquo;or&iacute;gen, el COC i el certificat d&rsquo;asseguran&ccedil;a andorr&agrave; del cotxe. Al acabar, si la itv &eacute;s favorable, et donara un paper groc que has de guardar.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<ol start="3">
<li>
<h3>Tr&agrave;mits a govern:<span class="Apple-converted-space">&nbsp;</span></h3>
</li>
</ol>
<p>Amb tota la documentaci&oacute; rebuda fins al moment, haur&agrave;s d&rsquo;anar a govern i entrar l&rsquo;expedient de matriculaci&oacute;. Necessitar&agrave;s portar la seg&uuml;et documentaci&oacute;:</p>
<p>- DUA i factura d&rsquo;or&iacute;gen segellada a la duana.</p>
<p>- Document ITV conforme &eacute;s favorable.</p>
<p>- Documents originals del cotxe.</p>
<p>- COC del cotxe.</p>
<p>- Certificat d&rsquo;asseguran&ccedil;a.</p>
<p>- En cas que sigui el primer cotxe que matricules, el teu passaport.</p>
<p>- Sol&middot;licitud de matriculaci&oacute; al registre de vehicles complimentat.</p>
<p>Al entregar aquest expedient, pagar&agrave;s una taxa de 201,53&euro; i al cap de 24 o 48 hores tindran llesta la carta groga del cotxe, a nom teu amb el n&uacute;mero de matr&iacute;cula andorrana. Per recollir-la, haur&agrave;s de pagar la taxa de vehicles anual, diferent per cada cotxe.</p>
<p>&nbsp;</p>
<ol start="4">
<li>
<h3>Tr&agrave;mits a l&rsquo;ACA:</h3>
</li>
</ol>
<p>Haur&agrave;s d&rsquo;anar amb la carta groga a l&rsquo;ACA per tal que t&rsquo;entreguin les plaques Andorranes. Et costaran 45,80&euro; i tamb&eacute; t&rsquo;inclouran el nou adhesiu ecol&ograve;gic.</p>
<p>En aquest punt, ja pots colocar les plaques al cotxe i s&rsquo;ha acabat el proc&eacute;s d&rsquo;importaci&oacute; del cotxe. Ja pots circular lliurement amb el teu cotxe d&rsquo;importaci&oacute; a Andorra.</p>
<p>&nbsp;</p>
<h2><strong>5&egrave; pas: Recuperaci&oacute; de l&rsquo;IVA en or&iacute;gen</strong></h2>
<p>Tot i aix&iacute;, encara falta reclamar que et tornin l&rsquo;IVA d&rsquo;or&iacute;gen. Per fer-ho, envia una copia per correu electr&ograve;nic del DAE de la frontera, el DUA i la factura segellada i la carta groga al venedor sol&middot;licitant la devoluci&oacute; de l&rsquo;IVA. Indica tamb&eacute; les teves dades bac&agrave;ries per agilitzar el proc&eacute;s.</p>
<p><span class="Apple-converted-space">&nbsp;</span>No t&rsquo;extranyis si tarden 3 setmanes en tornar-te els diners des de que els enviis la documentaci&oacute;.</p>
<p>&nbsp;</p>
<h2><strong>Importar un cotxe a Andorra &eacute;s un procediment senzill per&ograve; amb punts cr&iacute;tics.</strong></h2>
<p>&nbsp;</p>
<p>Com has vist en aquest article, importar un cotxe consta de varis passos clars i diferenciats que d&rsquo;anar-los seguint et permeten fer la importaci&oacute; d&rsquo;unn cotxe. No s&oacute;n passos dif&iacute;cils i en molts d&rsquo;ells estar&agrave;s acompanyat d&rsquo;un funcionari o treballador que t&rsquo;ajudar&agrave;. Tot i aix&iacute;, hi ha 4 punts cr&iacute;tics que vull recordar-te per tal que els recordis i no els passis a la lleugera.</p>
<ul>
<li>Assegura&rsquo;t que el cotxe &eacute;s compatible amb la normativa Andorrana. Si t&rsquo;equivoques, et trobar&agrave;s amb un cotxe que Andorra que no podr&agrave;s matricular i haur&agrave;s d&rsquo;espavilar-te per vendre fora.</li>
<li>Revisa b&eacute; el venedor i assegura&rsquo;t que el cotxe que est&agrave;s comprant &eacute;s real. Hi ha molts cotxes anunciats als diferents portals que no existeixen i s&oacute;n estafes. &Eacute;s f&agrave;cil caure-hi ja que solen correspondre&rsquo;s amb cotxes a preus interessants. &Eacute;s pr&agrave;cticament impossible recuperar els diners un cop s&rsquo;ha em&egrave;s una transfer&egrave;ncia bancaria de forma volunt&agrave;ria.</li>
<li>Que quedi clar que et venen el cotxe com a exportaci&oacute;. Tindr&agrave;s problemes a la frontera per importar-lo si no &eacute;s aix&iacute; i ser&agrave; dif&iacute;cil que recuperis l&rsquo;IVA posteriorment.</li>
<li>Revisa quants expedients de sortida comunit&agrave;ria hi ha abans de fer-ne un a la frontera: assegura&rsquo;t de tenir tota la documentaci&oacute; i que no hi hagi expedients oberts d&rsquo;exportaci&oacute; per part del venedor. Si ell n&rsquo;ha obert un i tu en fas un altre, no et tornaran l&rsquo;IVA.</li>
</ul>
<p>A importocotxe som especialistes en la importaci&oacute; de cotxes a Andorra. Ens dediquem a aix&ograve; i ho fem cada dia. Si vols importar un cotxe i tens dubtes en qualsevol part, no ho dubtis, contacta&rsquo;ns i t&rsquo;ajudarem.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Si pel contrari vols importar un cotxe per&ograve; vols evitar-te el risc, temps i lio que comporta fer-ho pel teu compte, estarem encantats d&rsquo;importar el cotxe que vulguis. T&rsquo;ajudem a buscar el cotxe i despr&eacute;s ens encarreguem de tot, entregant-te el cotxe d&rsquo;importaci&oacute; matriculat a casa teva. A m&eacute;s, avancem nosaltres l&rsquo;IVA en or&iacute;gen i no te&rsquo;l reclamem en cas que no ens el tornin.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<p>Diga&rsquo;ns com vols el cotxe per tal que et poguem ajudar a trobar-lo o busca a la nostra web. All&agrave; hi veur&agrave;s tots els cotxes que hi ha a Alemanya disponibles per importar a Andorra (els cotxes de <a href="http://mobile.de">mobile.de</a> que si que es poden importar) per&ograve; veur&agrave;s el preu final del cotxe amb tots els costos d&rsquo;importaci&oacute; i honoraris nostres inclosos. &Eacute;s a dir, el preu que hi surt, &eacute;s el preu pel qual tindr&agrave;s el cotxe entregat a casa teva amb matricula Andorrana.</p>
