<div class="hero_img">
  <h1 id="search"><%= t('pages.home.title') %></h1>
  <div class = "main-form-home">
    <div id="home-card-main">
      <%= render 'pages/dashboard' %>
      <%# <%= render 'pages/directform' %>
      <%# <div style="height: 400px;">
        <script type="text/javascript" src="https://api.clientify.net/web-marketing/superforms/script/235312.js"></script>
      </div> %>
      <%# <%= render 'pages/buscaform' %>
    </div>
  </div>
</div>
