<div class="reviews">
  <div class="container">
    <h2 style= "color: white !important;"><%= t('newhome.review') %></h2>
    <div class="review-slider">

      <div class="valoracion">
        <h4 style="font-size: 90px !important; color: black; text-align: left;">''</h4>
        <p style="color: white !important; margin-bottom: 10px;">Desde el inicio ha sido una gran gestión, todo fácil y ágil. Han cumplido con todos los plazos acordados. Muy recomendable.</p>
        <div class="valoracion-nombre"><h4 style="color: white !important; font-size: 30px !important;">Fernando Orosa</h4></div>
      </div>

      <div class="valoracion">
        <h4 style="font-size: 90px !important; color: black; text-align: left;">''</h4>
        <p style="color: white !important; margin-bottom: 10px;">Muy profesionales, serios, el coche está impecable como en las fotos. 100% recomendable. Gracias por todo y volveré a contactar con vosotros.</p>
        <div class="valoracion-nombre"><h4 style="color: white !important; font-size: 30px !important;">Jonatan</h4></div>
      </div>

      <div class="valoracion">
        <h4 style="font-size: 90px !important; color: black; text-align: left;">''</h4>
        <p style="color: white !important; margin-bottom: 10px;">Empresa muy seria , les compre un Fiat i todo fue OK, pagado por adelantado pero sin problema alguno, habia tomado antes de hacerles el pedido referencias suyas, i realmente superaron mis expectativas. Lo recomiendo personalmente.</p>
        <div class="valoracion-nombre"><h4 style="color: white !important; font-size: 30px !important;">Xavi Coma</h4></div>
      </div>

      <div class="valoracion">
        <h4 style="font-size: 90px !important; color: black; text-align: left;">''</h4>
        <p style="color: white !important; margin-bottom: 10px;">They were very helpful selecting and importing a car, and ensuring there was no damage/was in good condition.</p>
        <div class="valoracion-nombre"><h4 style="color: white !important; font-size: 30px !important;">Kyran Burraston</h4></div>
      </div>

      <div class="valoracion">
        <h4 style="font-size: 90px !important; color: black; text-align: left;">''</h4>
        <p style="color: white !important; margin-bottom: 10px;">Después de buscar mucho por Andorra y no encontrar nada, encontré el modelo que buscaba en ImportoCotxe a muy buen precio y prácticamente nuevo. En pocas semanas ya lo tenía en casa listo para circular. Ellos se encargan de todo. 100% recomendado.</p>
        <div class="valoracion-nombre"><h4 style="color: white !important; font-size: 30px !important;">Bernat Gomis</h4></div>
      </div>

      <div class="valoracion">
        <h4 style="font-size: 90px !important; color: black; text-align: left;">''</h4>
        <p style="color: white !important; margin-bottom: 10px;">Trato muy profesional desde el inicio hasta la entrega. ¡Muy recomendable!</p>
        <div class="valoracion-nombre"><h4 style="color: white !important; font-size: 30px !important;">Gerard Gelonch</h4></div>
      </div>

    </div>
    <a href="https://maps.app.goo.gl/cS7PvQpprWgFcAvC8" target="_blank">
      <%= image_tag("5starsgoogle.png", width: 300) %>
    </a>
      <br>
      <h2 style= "color: white !important;">Importocotxe.ad</h2>

  </div>
</div>
