<div class="seocards seocontainer">



  <%= link_to model3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809973/martin-katler-DiJR_M1Mv_A-unsplash_bmutcm.jpg); height: 100%; width: 100%;">
      <span>Model 3</span>
    </div>
  <% end %>

  <%= link_to models_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809972/caras-creative-studio-Wl3tBOG96Jk-unsplash_pecbmh.jpg); height: 100%; width: 100%;">
      <span>Model S</span>
    </div>
  <% end %>

  <%= link_to modely_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809973/craventure-media-f9cTLsjnEi0-unsplash_os1gyh.jpg); height: 100%; width: 100%;">
      <span>Model Y</span>
    </div>
  <% end %>

  <%= link_to modelx_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809972/jorgen-hendriksen-dLn6nUY-5zg-unsplash_avsclq.jpg); height: 100%; width: 100%;">
      <span>Model X</span>
    </div>
  <% end %>


</div>
