<div class="seocontainer">
<br>
<h1 style="color: #A2262B !important; text-align: center !important;"><%= t('model.titol', marca: @marca) %></h1>
<h2><%= t('model.subtitol', marca: @marca) %></h2>
<%# <h3>Busca entre los modelos que más te convengan y nosotros te lo importamos a Andorra.</h3> %>
<br>
</div>
