<p>Hola <%= @contact.name %>,</p>
<p>Hemos recibido tu solicitud de información sobre un coche. Nos pondremos en contacto contigo lo antes posible.</p>
<hr>
<p>Muchas gracias,</p>
<p>Martí</p>
<p>Equipo importocoches.com</p>
