<p>Hola <%= @contact.name %>,</p>
<p>Hem rebut una petició d'informació d'un cotxe anunciat. Ens posarem en contacte el més aviat possible.</p>
<hr>
<p>Moltes gràcies,</p>
<p>Martí</p>
<p>Equip importocotxe.ad</p>
