$strongyellow: #696969;

@media (min-width: 900px) {
  .container-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    }
}

.container-login {
  margin: 15px;
}

.img-left {
  background-image: url("https://source.unsplash.com/random/?hypercar");
  background-size: cover;
  min-height: 750px;
}

.img-left-log {
  background-image: url("https://source.unsplash.com/random/?luxurycar");
  background-size: cover;
  min-height: 750px;
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered {
  text-align: center;
  background-color: $strongyellow;
  color: white;
}

.center-user{
    text-align: center !important;
    color: $strongyellow;
    margin-bottom: 10px;
    i{
    font-size: 100px;
    }
}

.form-actions {
  display: grid;
}

.centered:hover {
  background-color: #232323;
}
