.navbar {
  justify-content: space-between;
  background: white;
  .continer {
    margin-top: 0px;
  }
}

.navbar .brand-icon img {
  width: 180px;
}

.nav-links {
  text-decoration:none;
  color:black;
}
.nav-links:hover {
  color:black;
  font-weight: bold;
}
.nav-links:visited {
  color:black;
  font-weight: bold;
}
