<div class="seocards seocontainer">

  <%= link_to ateca_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809221/45427233771_8487063e12_b_mrol0g.jpg); height: 100%; width: 100%;">
      <span>Ateca</span>
    </div>
  <% end %>


  <%= link_to formentor_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809221/marcel-hoberg-PGmkdB6YWbY-unsplash_a3vvyg.jpg); height: 100%; width: 100%;">
      <span>Formentor</span>
    </div>
  <% end %>

  <%= link_to leon_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809221/nils-arfert-pZ-iur48Z3Y-unsplash_fnjpli.jpg); height: 100%; width: 100%;">
      <span>Leon</span>
    </div>
  <% end %>

  <%= link_to born_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809220/swansway-motor-group-eupfOjJDkqQ-unsplash_nlhw7i.jpg); height: 100%; width: 100%;">
      <span>Born</span>
    </div>
  <% end %>

</div>
