<div class="seocards seocontainer">

  <%= link_to seal_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600522/BYD_Seal_IAA_2023_1X7A0371_aqmib6.jpg); height: 100%; width: 100%;">
      <span>Seal</span>
    </div>
  <% end %>

  <%= link_to atto3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600520/BYD_Atto_3_1X7A6495_i0lz8u.jpg); height: 100%; width: 100%;">
      <span>Atto 3</span>
    </div>
  <% end %>

  <%= link_to dolphin_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600518/2023_BYD_Dolphin_Standard_Range_k3bmdh.jpg); height: 100%; width: 100%;">
      <span>Dolphin</span>
    </div>
  <% end %>

  <%= link_to sealu_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600521/BYD_Seal_U_DM-i_GIMS_2024_1X7A2192_kq1njh.jpg); height: 100%; width: 100%;">
      <span>Seal U</span>
    </div>
  <% end %>

</div>
