<div id="cookies-eu-banner" style="display: none;">
  Utilizamos cookies para asegurar que damos la mejor experiencia al usuario en nuestra web. Si sigues utilizando este sitio asumiremos que estás de acuerdo
  <a href="https://www.importocotxe.ad/cookie_policy" target="_blank" id="cookies-eu-more">Leer más</a>
  <button id="cookies-eu-reject">Rechazar</button>
  <button id="cookies-eu-accept">Aceptar</button>
</div>
